NODE_ENV=production
PORT=8080

STORAGE_MODE=gcp
DB_MODE=firestore

GOOGLE_CLOUD_PROJECT=tu-proyecto
GOOGLE_CLOUD_LOCATION=us-central1

GCS_BUCKET_RAW=tu-proyecto-raw
GCS_BUCKET_EXPORTS=tu-proyecto-exports
FIRESTORE_COLLECTION=documents

USE_DOCUMENT_AI=true
DOCUMENT_AI_LOCATION=us
DOCUMENT_AI_PROCESSOR_ID=processor-id
DOCUMENT_AI_PROCESSOR_VERSION=

WORKATO_SHARED_SECRET=pon_aqui_un_secreto_largo
